BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://jsonplaceholder.typicode.com
TIMEOUT=30000
HEADLESS=true
SLOW_MO=0
SCREENSHOT_ON_FAILURE=true
VIDEO_ON_FAILURE=false
ENVIRONMENT=staging
STANDARD_USER=standard_user
LOCKED_USER=locked_out_user
PASSWORD=secret_sauce
